# Name: Stack_Sorter
# Stack sorting plugin for ImageJ.
# Author: Bob Dougherty, includes some code and updating by Wayne Rasband
# .jar config format copied from Gabriel Landini 
#
# Version: 8
# Date: 5/April/2004
# Requires: ImageJ 1.32c
# Generate the jar file using: "jar cvfM Stack_Sorter.jar *"
Plugins>Stacks, "Stack Sorter", Stack_Sorter

